@page
@model WebApp.Pages.Withdrawal.IndexModel
@foreach (var transferModel in Model.WithdrawalModels)
{
    <p>@transferModel.Id<a asp-page="/Withdrawal/Details" asp-route-userId="@transferModel.UserID">@transferModel.UserID</a> вывел @transferModel.Sum rub @transferModel.DateTime</p>
    <form method="post">
        <label>Добавить:</label>
        int money, int userFrom, int userTo
        <input type="number" name="userId"/>
        <input type="number" name="sum"/>
        <input type="submit" value="Отправить"/>
    </form>   
}
