@page
@model WebApp.Pages.Tariff.DetailsByTariffIdModel

<p>
    Id = <a asp-page="/Tariff/DetailsByTariffId" asp-route-tariffId="@Model.TariffModels.Id">@Model.TariffModels.Id</a>;
    SubscribedTypeId = <a asp-page="/Tariff/DetailsBySubscriptionTypeId" asp-route-subscriptionTypeId="@Model.TariffModels.TypeOfSubscription.Id"> @Model.TariffModels.TypeOfSubscription.Id</a>;
    @Model.TariffModels.Name @Model.TariffModels.PricePerMonth руб
</p>
<p><a asp-page="/Tariff/Index">Все</a></p>
