@page
@model WebApp.Pages.Tariff.DetailsBySubscriptionTypeIdModel
@foreach(var tariffModel in Model.TariffModels)
{
    <p>
        Id = <a asp-page="/Tariff/DetailsByTariffId" asp-route-tariffId="@tariffModel.Id">@tariffModel.Id</a>;
        SubscribedTypeId = <a asp-page="/Tariff/DetailsBySubscriptionTypeId" asp-route-subscriptionTypeId="@tariffModel.TypeOfSubscription.Id"> @tariffModel.TypeOfSubscription.Id</a>;
        @tariffModel.Name @tariffModel.PricePerMonth руб
    </p>
}
<p><a asp-page="/Tariff/Index">Все</a></p>
