@page
@model WebApp.Pages.Transfer.IndexModel
@foreach (var transferModel in Model.TransferModels)
{
    <p><a asp-page="/Transfer/DetailsByUserFrom" asp-route-userId="@transferModel.UserFrom">@transferModel.UserFrom</a> перевел <a asp-page="/Transfer/DetailsByUserTo" asp-route-userId="@transferModel.UserTo"> - @transferModel.UserTo </a> @transferModel.MoneySum руб @transferModel.DateTime</p>
    <form method="post">
        <label>Добавить:</label>
        int money, int userFrom, int userTo
        <input type="number" name="userTo"/>
        <input type="number" name="userFrom"/>
        <input type="number" name="money"/>
        <input type="submit" value="Отправить"/>
    </form>                                                                                                                
}
