@page
@model WebApp.Pages.PaidSubscription.IndexModel
@foreach (var paidSubscriptionModel in Model.PaidSubscriptionModels)
{
<p>
    UserId = <a asp-page="/PaidSubscription/DetailsByUserId" asp-route-userId="@paidSubscriptionModel.UserId">@paidSubscriptionModel.UserId</a>;
    SubscribedToId = <a asp-page="/PaidSubscription/DetailsBySubscribedToId" asp-route-subscribedToId="@paidSubscriptionModel.SubscribedToId"> @paidSubscriptionModel.SubscribedToId</a>;
    IsAutorenewal = @paidSubscriptionModel.IsAutorenewal
    TariffId = @paidSubscriptionModel.Tariff.Id
       <form method="post" >
           int userId, int subscribedToId, int tariffId
           <input type="number" name="userId"/>
           <input type="number" name="subscribedToId"/>
           <input type="number" name="tariffId"/>
           <input type="submit" value="Отправить"/>
            </form>
</p>
}
