@page
@model WebApp.Pages.Post

@{
    var priceType = Model.PostModel.RequiredSubscriptionType;
    var freeChecked = (int) priceType == 0 ? "checked" : "";
    var basicChecked = (int) priceType == 1 ? "checked" : "";
    var improvedChecked = (int) priceType == 2 ? "checked" : "";
    var maxChecked = (int) priceType == 3 ? "checked" : "";
}

<div class="post container">
    <div class="row">
        <div class="col-auto">
            <img src="@Model.CoverModel?.Path" alt="cover" style="max-width: 700px">
        </div>
        <div class="col">
            <p style="margin-top: 10px">@Model.PostModel.Text</p>
        </div>
    </div>
    <!-- Model.PostModel.Id -->
    @foreach (var file in Model.Files)
    {
        <div>
            @file.Name
            @file.Type
        </div>
    }
    
    <div class="container">
        <p>
            <a class="btn btn-main" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Edit
            </a>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <div class="change-text">
                    <form method="post" enctype="multipart/form-data">
                        <input type="hidden" name="postId" value="@Model.PostModel.Id">
                        <div>
                            <label>Free</label>
                            <input type="radio" name="type" value="free" @freeChecked>
                            <label>Basic</label>
                            <input type="radio" name="type" value="basic" @basicChecked>
                            <label>Improved</label>
                            <input type="radio" name="type" value="improved" @improvedChecked>
                            <label>Max</label>
                            <input type="radio" name="type" value="max" @maxChecked>
                        </div>
                        <input class="input-search form-control" type="text" name="text" value="@Model.PostModel.Text" style="margin-bottom: 10px">
                        <button type="submit" class="btn btn-search">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
