@page
@model WebApp.Pages.Post

<div class="post container">
    <!-- Model.PostModel.Id -->
    <div class="row row-col-2">
        <div class="col-auto">
            <img src="@Model.CoverModel?.Path" alt="cover">
        </div>
        <div class="col-auto">
            <p>@Model.PostModel.Text</p>
            @foreach (var file in Model.Files)
            {
                <div>
                    @file.Name
                    @file.Type
                </div>
            }
        </div>
    </div>
    <a asp-page="EditPost" asp-route-id="@Model.PostModel.Id">Edit</a>
</div>

@*Это код для изменения поста, можешь его куда-то спрятать, чтобы он появлялся в нужный момент*@
<div>
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="postId" value="@Model.PostModel.Id">
        <input type="hidden" name="projectId" value="@Model.PostModel.ProjectId">
        <div>
            <label>Free</label>
            <input type="radio" name="type" value="free">
            <label>Basic</label>
            <input type="radio" name="type" value="basic">
            <label>Improved</label>
            <input type="radio" name="type" value="improved">
            <label>Max</label>
            <input type="radio" name="type" value="max">
        </div>
        <input type="text" name="text" value="@Model.PostModel.Text">
        @*Сюда надо добавить удаление/добавление файлов - сделай это*@
        @*В зависимости от фронта я пристрою бэк работы с файлами*@
        <button type="submit">Send</button>
    </form>
</div>