@page
@model WebApp.Pages.Post

<div>
    @Model.PostModel.Id
    @Model.PostModel.Text
    <img src="@Model.CoverModel?.Path" alt="cover">
    @foreach (var file in Model.Files)
    {
        <div>
            @file.Name
            @file.Type
        </div>
    }
</div>