@page
@using Microsoft.AspNetCore.Identity
@using WebApp.Models.Identity
@model WebApp.Pages.ProjectProfile

@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager

<div class="container">
<div class="row row-cols-2">
    <div class="col">
        @await Html.PartialAsync("Shared/_CreatorPreviewPartial", Model.ProjectModel)
    </div>
    <div class="col" style="margin-top: 10px">
        <div class="row row-cols-4">
        @foreach (var user in Model.ProjectModel.Users)
        {
            <div class="col">
            @await Html.PartialAsync("Shared/_UserMiniPreviewPartial", user)
            </div>
        }
        </div>
    </div>
</div>
</div>

    @if (_signInManager.IsSignedIn(User) &&
     Model.ProjectModel.Users.Select(u => u.Id).Contains((await _userManager.GetUserAsync(User)).UserId))
{
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" value="@Model.ProjectModel.Id">
        <div>
            <label>Free</label>
            <input type="radio" name="type" value="free">
            <label>Basic</label>
            <input type="radio" name="type" value="basic">
            <label>Improved</label>
            <input type="radio" name="type" value="improved">
            <label>Max</label>
            <input type="radio" name="type" value="max">
        </div>
        <input type="text" name="text" placeholder="Whats new?">
        <input type="file" name="cover">
        @*<input type="file" name="files"> таких инпутов может быть много (несколько файлов к одному посту)*@
        <button type="submit">Send</button>
    </form>
}

@foreach (var post in Model.PostModels)
{
    @await Html.PartialAsync("Shared/_PostPartial", post)
}

@{
    var userId = (await _userManager.GetUserAsync(User))?.UserId;
    var projectId = @Model.ProjectModel.Id;
}

<div id="inputForm">
    <input type="text" id="message"/>
    <input type="button" id="sendBtn" value="Отправить"/>
</div>
<div id="chatroom"></div>
@foreach (var pair in @Model.Messages)
{
    <p>@pair.Item1 : @pair.Item2.Text (@pair.Item2.DateTime)</p>
}
<script src="js/signalr/dist/browser/signalr.min.js"></script>

<script>
        const hubConnection = new signalR.HubConnectionBuilder()
            .withUrl("/chat")
            .build(); 
              
        // получение сообщения от сервера
        hubConnection.on('Send', function (message, userName) {
            // создаем элемент <b> для имени пользователя
            let userNameElem = document.createElement("b");
            userNameElem.appendChild(document.createTextNode(userName + ': '));
  
            // создает элемент <p> для сообщения пользователя
            let elem = document.createElement("p");
            elem.appendChild(userNameElem);
            elem.appendChild(document.createTextNode(message));
  
            //добавление в начало <div id="chatroom"></div>
            var firstElem = document.getElementById("chatroom").firstChild;
            document.getElementById("chatroom").insertBefore(elem, firstElem);  
        });
                
        // отправка сообщения на сервер
        document.getElementById("sendBtn").addEventListener("click", function (e) {
            let message = document.getElementById("message").value;
            //let userName = '';
            hubConnection.invoke("Send", message, @userId, @projectId);
        });
 
        hubConnection.start();
</script>