@page
@model WebApp.Pages.Project.Details

<p>
    @Model.ProjectModel.Id - @Model.ProjectModel.Name
</p>
<p>
    <a asp-page="/Project/Users" asp-route-projectId="@Model.ProjectModel.Id">Users</a>
    <a asp-page="/Company/Details" asp-route-id="@Model.CompanyModel.Id">Company</a>
    <a asp-page="/Project/Posts" asp-route-id="@Model.ProjectModel.Id">Posts</a>
</p>