@using WebApp.Models
@using Microsoft.AspNetCore.Identity
@model WebApp.Models.ICreator

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    //data for subscription
    var userId = (await UserManager.GetUserAsync(User)).UserId;
    //var hasBankAccount = _
}
@{
    var creatorType = Model switch
    {
        UserModel => "UserProfile",
        ProjectModel => "ProjectProfile",
        CompanyModel => "CompanyProfile",
        _ => throw new NotSupportedException()
    };

    var companies = Model switch {
        UserModel user => user.Companies,
        ProjectModel project => new List<CompanyModel> {project.Company},
        CompanyModel => new List<CompanyModel>()
    };
}

<div>
    <a asp-page="/@creatorType" asp-route-id="@Model.Id">@Model.Name</a>
    <img src="@Model.ImagePath" alt="">
    @foreach (var tag in Model.Tags)
    {
        <div>
            @tag.Text
        </div>
    }
    @foreach (var company in companies)
    {
        <div>
            @company.Name
        </div>
    }
</div>

<form method="post" asp-controller="Subsribe"  asp-action="Follow" asp-route-developerId="@Model.Id" asp-route-userId="@userId">
    <button type="submit">Follow</button>
</form>
<form method="post" asp-controller="Subsribe"  asp-action="SubscribeToUser" asp-route-developerId="@Model.Id" asp-route-userId="@userId">
    <button type="submit">Subscribe</button>
</form>

